<html>

<head>
    <title>FlaskChat</title>
    <style>
        .div-message {
            border-style: solid;
            margin-bottom: 16px;
        }
    </style>
</head>

<body>
    <h1>Welcome to Flask Chat</h1>

    <!-- Form that contains message and sender input options. -->
    <form action="/messages" method="POST">
        <label>Sender</label>
        <br>
        <input type="text" name="sender">
        <br>
        <label>Message</label>
        <br>
        <textarea name="message"></textarea>
        <br>
        <input type="submit" value="Send">
    </form>

    <br>

    <h2>Messages</h2>
    <div id="ul-messages"></div>

</body>

<!-- Dependencies -->
<!-- 1. jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- 2. Icons for edit and delete -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- 3. Our js file with code to send requests to backend -->
<script src="../static/custom_ajax_flask.js"></script>

<script>
    /**
     * Add edit message elements to a message div. (Textbox, update/cancel buttons)
     * @param {object} div the message div to which the edit message elements have to be added
     * @returns {null}
     */
    function populateDivWithEditMessage(div) {
        var editDiv = $('<div class="edit_div">');
        var textarea = div.find('textarea')[0];

        if (textarea == null) {
            var messageBox = div.find('.message').first();
            var textarea = $('<textarea>');
            textarea.val(messageBox.text());

            var editComplete = $('<button style="font-size:18px"><i class="material-icons">done</i></button>');
            var editDiscard = $('<button style="font-size:18px"><i class="material-icons">cancel</i></button>');

            editComplete.on('click', async function (event) {
                var ID = div.attr('id');
                var newMessage = textarea.val();

                var response = await sendPatchMessage(ID, newMessage);
                parseResponse(response, onSuccess = () => {
                    messageBox.text(newMessage);
                    editDiv.remove();
                }, onFailure = () => {
                    alert('Error editing message');
                });
            });

            editDiscard.on('click', async function (event) {
                editDiv.remove();
            })

            editDiv.append($('<br><br>'));
            editDiv.append(textarea);
            editDiv.append($('<br>'));
            editDiv.append(editComplete);
            editDiv.append(editDiscard);

            div.append(editDiv);
        }
    }

    /**
     * Fills a div with UI contents of the message. (Message text, sender name, edit/delete buttons)
     * @param {object} div the div to fill with contents of a message
     * @param {string} message the message whose contents are filled in the div
     * @returns {null}
     */
    function populateDivWithMessage(div, message) {
        div.empty();

        var title = $('<h3 class="message">');
        var subtitle = $('<h5 class="sender">');

        title.text(message.message);
        subtitle.text(message.sender);

        div.append(title);
        div.append(subtitle);

        // EDIT MESSAGE
        var edit = $('<button style="font-size:18px"><i class="material-icons">mode_edit</i></button>');
        edit.on('click', (event) => {
            var div = $(`div #${message.ID}`);
            populateDivWithEditMessage(div);
        });
        div.append(edit);

        // DELETE MESSAGE
        var _delete = $('<button style="font-size:18px"><i class="material-icons">delete</i></button>');
        _delete.on('click', async (event) => {
            var response = await sendDeleteMessage(message.ID);
            parseResponse(response, onSuccess = () => {
                div.remove();
            }, onFailure = () => {
                alert('Error deleing messages');
            });
        });
        div.append(_delete);
        div.append($('<br><br>'));
    }

    /**
     * Runs onSuccess if the response is valid or onFailure if it is not
     * @param {object} response the response returned
     * @param {() => null} onSuccess the function to be executed when the response is valid 
     * @param {() => null} onFailure the function to be executed when the response is invalid
     * @returns {null}
     */
    function parseResponse(response, onSuccess, onFailure) {
        try {
            if (response == null || !response.hasOwnProperty("success")) {
                throw "No response received";
            }

            var success = response['success']
            if (success) {
                onSuccess();
            } else {
                throw "success = false";
            }
        } catch (error) {
            console.log(error);
            onFailure();
        }
    }
</script>

<script>
    /**
     * Populates the list element with the passed list of messages
     * @param {string|object} messages the messages to populate the list with // TODO: Make use of | for multiple possible types.
     * @returns {null}
     * 
     * Each message in messages looks like // TODO: May need to delete the samples in the documentation. Can include it in the README.md
     * {
     *  "ID": 5,
     *  "message": "Sample message",
     *  "sender": "John Doe"
     * }
     */
    function populateMessages(messages) {
        var ul = $('#ul-messages');
        ul.empty();
        messages.forEach(message => {
            var div = $(`<div id="${message.ID}" class="div-message">`);
            populateDivWithMessage(div, message);

            ul.append(div);
        });
    }
</script>

<script>
    /**
     * Download the latest messages and display it
     * @returns {null}
     * 
     * Sample response:
     * {
        "messages": [
            {
                "ID": 3,
                "message": "Hi there",
                "sender": "Steve"
            },
            {
                "ID": 2,
                "message": "Hello",
                "sender": "Mike the Tiger"
            },
            {
                "ID": 1,
                "message": "Hi",
                "sender": "Mike the Tiger"
            }
        ],
            "success": true
    }
     */
    async function syncMessages() {
        var response = await sendGetMessages();
        parseResponse(response, onSuccess = () => {
            populateMessages(response['messages']);
        }, onFailure = () => {
            alert('Error downloading messages');
        });
    }
</script>

<script>
    /**
     * CREATE MESSAGE
     * Intercepts the submit action on the form and overrides it with a custom action
     */
    var form = $('form');
    form.on('submit', async function (event) {
        event.preventDefault();

        var message = form.find("textarea[name='message']").val();
        var sender = form.find("input[name='sender']").val();

        var response = await sendPostMessage(message, sender);
        parseResponse(response, onSuccess = () => {
            syncMessages();
        }, onFailure = () => {
            alert('Error sending message');
        });
    });
</script>

<script>
    // Calling syncMessages() once when the page starts to get the latest messages
    syncMessages();
</script>

</html>